<h2>人员登记系统</h2>
<div class="people_list">
  <ul>
    <li>姓 名：<input type="text" id="username" class="form-input" [(ngModel)]="peopleInfo.username"/></li>

    <li>性 别：
      <input type="radio" value="1" name="sex" id="sex1" [(ngModel)]="peopleInfo.sex"/><label for="sex1">男</label>
      <input type="radio" value="2" name="sex" id="sex2" [(ngModel)]="peopleInfo.sex"/><label for="sex2">女</label>
    </li>

    <li>
      城 市：
      <select name="city" id="city" [(ngModel)]="peopleInfo.city">
        <option [value]="item" *ngFor="let item of peopleInfo.cityList">{{item}}</option>
      </select>
    </li>

    <li>
      爱 好：
      <span *ngFor="let item of peopleInfo.hobbyList;let key=index;">
        <input type="checkbox" [id]="'check'+key" [(ngModel)]="item.checked" /><label [for]="'check'+key">{{item.title}}</label>
        &nbsp;
      </span>
    </li>

    <li>
      备 注：
      <textarea name="mark" id="mark" cols="30" rows="3" [(ngModel)]="peopleInfo.mark"></textarea>
    </li>
  </ul>

  <button (click)="doSubmit()">获取表单内容</button>

  <pre style="margin-top: 110px;">
    {{peopleInfo | json}}
  </pre>
</div>
